$font:'poppins',sans-serif;

//tamaño de media queries
$phone:375px;
$tablet:768px;
$deskop:1024px;

//colores
$body:#FAFAFB;
$whithe:#FFFFFF;
$gray:#F6F8FB;
$gray2:#4f4f4f;
$gray3:#828282;
$gray4:#F6F8FB;
$blue:#2f80eb;
$purple:#97bef4;
$green:#219653;